.shop-cart {
  padding: 16px;
}
.shop-cart button {
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  margin-right: 16px;
  font-size: 20px;
}
.shop-cart span {
  display: inline-block;
  padding: 5px;
}
